__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.env
.venv
migrations/*.pyc
migrations/__pycache__
node_modules
.backups
backups
media
backups/**
media/**
.git
.gitignore
.github
.DS_Store
.idea
.vscode
.tests_cache
.pytest_cache
